
body {
	margin-left: 20px;
	margin-right: 20px;	
}

div#nav {
	float: left;
}

div#main {
	margin-left: 200px;
	padding-left: 10px;
	border-left: solid;
}

div#header {
	background-color: #800;
}

div#footer {
	clear: both;
	background-color: #800;
	text-align: center;
}

form.stdform fieldset {
  margin-bottom: 10px;
}
form.stdform legend {
  padding: 0 2px;
  font-weight: bold;
}
form.stdform label {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
}
form.stdform fieldset ol {
  margin: 0;
  padding: 0;
}
form.stdform fieldset li {
  list-style: none;
  padding: 5px;
  margin: 0;
}
form.stdform fieldset fieldset {
  border: none;
  margin: 3px 0 0;
}
form.stdform fieldset fieldset legend {
  padding: 0 0 5px;
  font-weight: normal;
}
form.stdform fieldset fieldset label {
  display: block;
  width: auto;
}
form.stdform em {
  font-weight: bold;
  font-style: normal;
  color: #F00;
}
form.stdform label {
  width: 120px; /* Width of labels */
}
form.stdform fieldset fieldset label {
  margin-left: 123px; /* Width plus 3 (html space) */
}

span.error {
    color: #F00;
}

ul.stdlist {
	list-style-type: none;
	padding: 0 0 0 0;
}

ul.stdlist li.gray {
	background-color: #CCC;
}
