
VARIABLE v_pk  NUMBER;

BEGIN
    ipso_atr.sp_log_version_change_begin('${script_name}', &1, :v_pk);
END;
/

---- ddl below ------------------------------------------

---------------------------------------------------------

BEGIN
    ipso_atr.sp_update_version(${version_no});
    ipso_atr.sp_log_version_change_finish(:v_pk, 'success');
EXCEPTION
    WHEN OTHERS THEN 
        ipso_atr.sp_log_version_change_finish(:v_pk, 'fail');
END;
/